body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  justify-content: center;
}

a, p, a:link {
  color: grey;
  text-decoration: none;
}

a:visited {
  color: purple;
}

#fake-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
  width: 100%;
}

.fake-link {
  margin-right: 15px;
}

.fake-icon {
  height: 15px;
  margin-top: 20px;
}

.fake-icon2 {
  height: 20px;
  margin-top: 18px;
}

.mike {
  border: 0px solid black;
  border-radius: 50%;
  height: 30px;
  margin-top: 12px;
}

h1 {
  font-size: 10vh;
  margin: 0;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

span:hover {
  color: purple;
}

#search-bar {
  border: 1px solid grey;
  box-shadow: 1px 1px 5px grey;
  height: 40px;
  font-size: 20px;
  text-align: center;
  width: 400px;
}

#btn-container {
  margin-top: 20px;
}

.buttons {
  background-color: #CED0CE;
  border: none;
  box-shadow: 1px 1px 5px grey;
  font-size: 15px;
  height: 40px;
  width: 150px;
}

.buttons:hover {
  background-color: grey;
  cursor: pointer;
}

.search {
  margin-right: 20px;
}

#did-you-mean {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-top: 25px;
  max-width: 200px;
  overflow-x: inherit;
  overflow-y: scroll;
}

.wordButton:hover {
  background-color: blue;
  cursor: pointer;
}
